* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: #014134;
  padding: 20px;
}

.main-header .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.main-header h1 {
  margin: 0;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.nav-links li a:hover {
  background-color: #2a9d8f;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top:30px;
  color: #014134;
}

form {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #014134;
  padding: 15px 20px;
  border-radius: 5px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #014134;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #014134;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #005b99;
}
/*flex box*/
.row{
  display:flex;
  gap:10px;
  flex-wrap:nowrap;
  flex-direction: row;
}
.eventDays-flex{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  gap:5px;
}
.days-flex1,.days-flex3{
  flex:25%;
}
.days-flex2{
  flex:50%;
}
.input-right, .input-left{
  flex:50%;
}
.days-flex2 input[type="time"]{
  width: 46%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.days-flex3 input[type="time"]{
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
