@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin-top: 130px;
  /*background-color: #f2f2f2;*/
  background: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo{
height: 70px;
}
.main-header{ 
  display: flex;
  justify-content: center;
  align-items: center;  

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;

  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #055745;

  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  width: 100%; 
  z-index: 9999;
}
.main-header div{ 
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-links {
  list-style-type: none;
}
.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: white;
}
.nav-links li a:hover{
  color: #0db58f;
}
button{
  font-family: 'Montserrat', sans-serif;
  padding: 9px 25px;
  background-color: #0db58f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}
h1{
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top:30px;
  color: #014134;
}

form {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #014134;
  padding: 15px 20px;
  border-radius: 5px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #014134;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #014134;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #005b99;
}
/*flex box*/
.row{
  display:flex;
  gap:10px;
  flex-wrap:nowrap;
  flex-direction: row;
}
.eventDays-flex{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  gap:5px;
}
.days-flex1,.days-flex3{
  flex:25%;
}
.days-flex2{
  flex:50%;
}
.input-right, .input-left{
  flex:50%;
}
.days-flex2 input[type="time"]{
  width: 46%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.days-flex3 input[type="time"]{
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* -------- Fuse.js Dropdown Styling -------- */
.dropdown-list {
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 180px;
  overflow-y: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: absolute;
  width: 100%;
}

.dropdown-item {
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #0db58f;
  color: white;
}

/* -------- Park Info Box Styling -------- */
.park-info-box {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #014134;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #014134;
}


.park-info-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #014134;
}

.park-info-box p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
}

/* for rating score */
.stars {
  color: #f5a623;
  font-size: 18px;
  letter-spacing: 2px;
}
