@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
  }
  
  body {
    margin-top: 70px;
    /*font-family: arial , sans-serif ;*/
    font-family: 'Inter', sans-serif;
    background-color : #001f1a ;
    color : #e0f7f1;;
    min-height :100vh ;
  }

  body {
    background: linear-gradient(to right, #001f1a, #014134);
  }
  

  .container {
    max-width :1200px ;
    margin: 0 auto;
    padding: 20px ;
  }

  #logo{
  height: 70px;
  pointer-events: auto;
  cursor: pointer;
  }
  .main-header{ 
  display: flex;
  justify-content: center;
  align-items: center;  

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;

  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #055745;

  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  width: 100%; 
  z-index: 9999;
  }
  .main-header div{ 
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-links {
    list-style-type: none;
  }
  .nav-links li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-links li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
  }
  .nav-links li a:hover{
    color: #0db58f;
  }
  button{
    font-family: 'Montserrat', sans-serif;
    padding: 9px 25px;
    background-color: #0db58f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
  }
 
  .about {
    background: #012c26;
    margin-top: 40px ;
    padding: 60px 30px ;
    border-radius: 10px ;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1) ;*/
    box-shadow: 0 8px 20px rgba(13, 181, 143, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    
  }
  
  .about ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .about li {
    margin-bottom: 10px;
    line-height: 1.5;
    align-items: center;
  }
  
  .about h2 {
    color: #0db58f; /* match logo highlight green */
    margin-bottom: 20px ;
    
  }
  
  .about p {
    font-size: 1.2em ;
    color: white ;
    line-height: 1.6 ;
  }


  section:hover {
    /*box-shadow: 0 8px 20px rgba(13, 181, 143, 0.5);*/

    transform: translateY(-15px);
    box-shadow: 0 12px 30px rgba(13, 181, 143, 0.3);
  }
  
  footer {
    color: white;
    background: #264653 ;
    color: white;
    background-color: #014134 ;
    text-align: center;
    padding: 15px 0;
  }
  
  
  







  