
*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
  }
  
  body {
    margin-top: 120px;
    font-family: arial , sans-serif ;
    background-color : #001f1a ;
    color : #e0f7f1;;
    min-height :100vh ;
  }
  

  .container {
    max-width :1200px ;
    margin: 0 auto;
    padding: 20px ;
  }

  
  .main-header {
    background: #014134 ;
    color: white ;
    padding : 20px 0 ;
    box-shadow : 0 2px 4px rgba(0,0,0,0.2) ;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000; 
  }
  
  .main-header h1 {
    text-align: center ;
    margin-bottom: 10px ;
  }
  
  .nav-links {
    display: flex ;
    justify-content : center ;
    gap: 30px ;
    list-style: none ;
  }
  
  .nav-links a {
    color : white ;
    text-decoration : none ;
    font-weight: bold ;
    padding: 6px 12px ;
    border-radius: 4px ;
  }
  
  .nav-links a:hover {
    background-color: #0db58f;
  }
  
  .about {
    background: #012c26;
    margin-top: 40px ;
    padding: 60px 30px ;
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) ;
    text-align: left;
    
  }
  
  .about ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .about li {
    margin-bottom: 10px;
    line-height: 1.5;
    align-items: center;
  }
  
  .about h2 {
    color: #0db58f; /* match logo highlight green */
    margin-bottom: 20px ;
    
  }
  
  .about p {
    font-size: 1.2em ;
    color: white ;
    line-height: 1.6 ;
  }


  section:hover {
    box-shadow: 0 8px 20px rgba(13, 181, 143, 0.5);
  }
  
  footer {
    color: white;
    background: #264653 ;
    color: white;
    background-color: #014134 ;
    text-align: center;
    padding: 15px 0;
  }
  
  
  







  